In [ ]:
# assignment 1 working with python data types

### Individual ASSIGNMENT ONE 2025

## Exercise1 (Lists)
1.	Create a list with 5 items (names of people) and write a python program to output the 2nd item.
2.	Write a python program to change the value of the first item to a new value
3.	Write a python program to add a sixth item to the list
4.	Write a python program to add “Bathel” as the 3rd item in your list
5.	Write a python program to remove the 4th item from the list
6.	Use negative indexing to print the last item in your list
7.	Create a new list with 7 items and use a range of indexes to print the 3rd, 4th and 5th items.
8.	Write a list of countries and make a copy of it.
9.	Write a python program to loop through the list of countries
10.	Write a list of animal names and sort them in both descending and ascending order.
11.	Using the list above, write a python program to output only animal names with the letter ‘a’ in them
12.	Write two lists, one containing your first names and the other your second names. Join the two lists.

In [1]:
names = ["messi", "ronaldo", "neymar", "mbappe", "yamal"]
print(names[1])

ronaldo

In [2]:
names[0] = "suarez"

In [3]:
names.append("pedri")

In [4]:
names.insert(2, "Bathel")

In [5]:
names.pop(3)

'neymar'

In [6]:
print(names[-1])

pedri

In [7]:
new_list = [1,2,3,4,5,6,7]
for i in range(2, 4):
    print(new_list[i])

3
4

In [8]:
countries = ["uganda", "kenya", "tanzania", "rwanda", "burundi"]
country_copy = countries.copy()

assert country_copy == countries, "The copied list is not the same as the original list"
print(country_copy == countries)

True

In [9]:
for i in countries:
    print(i)

uganda
kenya
tanzania
rwanda
burundi

In [10]:
animals = ["lion", "tiger", "bear", "elephant"]
animals.sort(reverse=True)
print("descending:", animals)

reverse_sorted = animals[::-1].copy()
print("ascending:", reverse_sorted)

descending: ['tiger', 'lion', 'elephant', 'bear']
ascending: ['bear', 'elephant', 'lion', 'tiger']

In [11]:
for i in animals:
    if "a" in i:
        print(i)

elephant
bear

In [12]:
list_1 = ["jim"]
list_2 = ["frank"]

combined = list_1 + list_2
print(combined)

['jim', 'frank']

## Exercise2 (Tuples)
1.	Consider the tuple below;
x = (“samsung”, “iphone”, “tecno”, “redmi”)
	Write a python program to output your favorite phone brand.
2.	Use negative indexing to print the 2nd last item in your tuple. 
3.	Using the phones list above, write a python program to update “iphone” to “itel”
4.	Write a python program to add “Huawei” to your tuple.
5.	Write a python program to loop through the tuple above.
6.	Write a python program to remove/delete the first item in your tuple.
7.	Using the tuple() constructor, create a tuple of the cities in Uganda.
8.	Write a python program to unpack your tuple.
9.	Use a range of indexes to print the 2nd, 3rd and 4th cities in your tuple above.
10.	Write two tuples, one containing your first names and the other your second names. Join the two tuples.
11.	Create a tuple of colors and multiply it by 3.
12.	Return the number of times 8 appears in this tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [13]:
x = ("samsung", "iphone", "tecno", "redmi")
print(x[-1])

redmi

In [14]:
print(x[-2])

tecno

In [15]:
list_x = list(x)
list_x[1] = 'itel'
x = tuple(list_x)
print(x)

('samsung', 'itel', 'tecno', 'redmi')

In [16]:
b = list(x)
b.append("Huawei")
x = tuple(b)
print(x)

('samsung', 'itel', 'tecno', 'redmi', 'Huawei')

In [17]:
for i in x:
    print(i)

samsung
itel
tecno
redmi
Huawei

In [18]:
x = x[1:]
x

('itel', 'tecno', 'redmi', 'Huawei')

In [19]:
cities = tuple(["Kampala", "gulu", "mbarara", "jinja", "arua"])
print(cities)

('Kampala', 'gulu', 'mbarara', 'jinja', 'arua')

In [20]:
k, g, m, j, a = cities
print(k, g, m, j, a)

Kampala gulu mbarara jinja arua

In [21]:
for i in range(1, 4):
    print(cities[i])

gulu
mbarara
jinja

In [22]:
tuple_1 = ("jim", )
tuple_2 = ("frank", )
combined = tuple(list(tuple_1) + list(tuple_2))
print(combined)

('jim', 'frank')

In [23]:
colors = ("red", "blue", "green")
colors * 3

('red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green')

In [24]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(thistuple.count(8))

2

## Exercise3 (Sets)
1.	Use the set() constructor to create a set of 3 of your favorite beverages.
2.	Use the correct method to add 2 more items to the beverages set.
3.	Given the set below;
mySet = {“oven”, “kettle”, “microwave”, “refrigerator”}
Check if microwave is present in the set.
4.	Write a python program to remove “kettle” from the set above.
5.	Write a python program to loop through the set above.
6.	Write a set of 4 items and a list of two items. Write a python program to add elements in the list to elements in the set.
7.	Write two sets, one containing your ages and the other your first names. Join the two sets.

In [25]:
bev = set(["bell", "nile", "club"])
bev

{'bell', 'club', 'nile'}

In [26]:
bev.add("tusker lite")
bev.add("smirnoff")
print(bev)

{'tusker lite', 'bell', 'smirnoff', 'nile', 'club'}

In [27]:
mySet = {"oven", "kettle", "microwave", "refrigerator"}
print("microwave" in mySet)

True

In [28]:
for i in mySet:
    print(i)

oven
kettle
microwave
refrigerator

In [29]:
set_1 = {1, 2, 3, 4}
list_1 = [5, 6]

set_1 = set_1.union(list_1)
set_1

{1, 2, 3, 4, 5, 6}

In [30]:
set_1 = {100, }
set_2 = {"jim"}

un = set_1.union(set_2)
un

{100, 'jim'}

## Exercise4 (Strings)
1.	Declare two variables, an integer and a string and use the correct method to concatenate the two variables.
2.	Consider the example below;
txt = “      Hello,       Uganda!       ”
Output the string without spaces at the beginning, in the middle and at the end.
3.	Write a python program to convert the value of ‘txt’ to uppercase.
4.	Write a python program to replace character ‘U’ with ‘V’ in the string above.
5.	Using the code below, write a python program to return a range of characters in the 2nd, 3rd and 4th position.
y = “I am proudly Ugandan”
6.	The piece of code below will give an error when output;
x = “All “Data Scientists” are cool!” 
Write a python program to correct it.

In [31]:
a = "a"
b = 21

a + str(b)

'a21'

In [32]:
txt = "      Hello,       Uganda!       "
txt = txt.strip()

In [33]:
txt = txt.upper()

In [34]:
txt.replace('U', 'V')

'HELLO,       VGANDA!'

In [35]:
y = "I am proudly Ugandan"


print(y[1:4])

 am

In [36]:
x = "All \"Data Scientists\" are cool!"
x

'All "Data Scientists" are cool!'

## Exercise5 (Dictionaries)
1.	With reference to the dictionary below, write a python program to print the value of the shoe size. 
Add this dictionary to your .py file
Shoes = {
	“brand” : “Nick”,
	“color” : “black”,
	“size” : 40
	}
2.	Write a python program to change the value “Nick” to “Adidas”
3.	Write a python program to add a key/value pair "type”: "sneakers" to the dictionary
4.	Write a python program to return a list of all the keys in the dictionary above.
5.	Write a python program to return a list of all the values in the dictionary above.
6.	Check if the key “size” exists in the dictionary above.
7.	Write a python program to loop through the dictionary above.
8.	Write a python program to remove “color” from the dictionary.
9.	Write a python program to empty the dictionary above.
10.	Write a dictionary of your choice and make a copy of it.
11.	Write a python program to show nested dictionaries

In [37]:
shoes = {
    "brand": "Nick",
    "color": "black",
    "size": 40
}

print(shoes["size"])

40

In [38]:
shoes["brand"] = "Adidas"

In [39]:
shoes["type"] = "sneakers"

In [40]:
list(shoes.keys())

['brand', 'color', 'size', 'type']

In [41]:
list(shoes.values())

['Adidas', 'black', 40, 'sneakers']

In [42]:
print("size" in shoes)

True

In [43]:
for key, value in shoes.items():
    print("key = ", key, ", value = ", value)

key =  brand , value =  Adidas
key =  color , value =  black
key =  size , value =  40
key =  type , value =  sneakers

In [44]:
if "color" in shoes:
    del shoes["color"]
shoes

{'brand': 'Adidas', 'size': 40, 'type': 'sneakers'}

In [45]:
for i in list(shoes.keys()):
    if i in shoes:
        del shoes[i]

assert shoes == {}, "not emptied"

In [46]:
a = {"a": 5, "b": 1}
b = a.copy()
b == a

True

In [47]:
nested = {"a": 2, "b": {"x": 30, "y": 40}}

print(nested)

{'a': 2, 'b': {'x': 30, 'y': 40}}